@model Application.DTO_s.UpdateRoleDTO

@{
    ViewData["Title"] = "Update Role";
}
<link rel="stylesheet" href="~/css/rolestyle.css">

<h1>Update Role</h1>

<div class="row">
    <div class="col-md-6">
        <div id="messageContainer"></div> 

        <div class="form-group">
            <label>Name</label>
            <input type="text" id="roleName" class="form-control" value="@Model.Name" />
            <span id="nameError" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>
                <input type="checkbox" id="isActive" @(Model.IsActive ? "checked" : "") />
                Active
            </label>
        </div>

        <input type="hidden" id="roleId" value="@Model.Id" />
        <input type="hidden" id="ConcurrencyStamp" value="@Model.ConcurrencyStamp" />


        <button id="saveRoleBtn" class="btn btn-primary">Save</button>
    </div>
</div>

<script src="~/js/Role.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
